.bg-custom {
  background: #d53939;
}

.navbar-brand {
  color: #ffffff !important;
}

.modal-title:first-letter {
	text-transform: capitalize;
}

.modal-species:first-letter {
	text-transform: capitalize;
}

.total {
	color: #ffffff !important;
}

.pokebutton {
	margin: 20px;
}