<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">        
    	<meta http-equiv="X-UA-Compatible">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="css/style.css">
         <title>Pokédex</title>
    </head>
    <body>
    	<nav class="navbar navbar-expand-sm bg-custom">
			<ul class="navbar-nav">
				<div class="navbar-brand">Pokédex</div>
				<li class="nav-item">
					<form method="get" id="pokesearch">
						<div class="input-group input-grou-sm mb3">
							<input type="text" class="form-control" name="search" placeholder="Search for Pokemons">
							&nbsp;
							<input type="submit" class="btn btn-primary" value="Search">
							&nbsp;
							<a href="index.php" class="btn btn-primary">Reset</a>				
						</div>
					</form>
				</li>
				&nbsp;
				&nbsp;
				<li class="nav-item">
					<span class="navbar-text total">
						Total Pokemons: {{ total }}
					</span>
				</li>
			</ul>
		</nav>
		{% if searchPokemon is null %}
		<section id="pokedex" class="pb-5">
			<div class="container-fluid">
        			<div class="row">
        				{% for pokemon in dex %}
        				  <div class="row mb-4">
    						<div class="col text-center">
    							{% set link = pokemon['name'] %}
      							<button class="btn btn-lg btn-primary toggle pokebutton" data-toggle="modal" data-target="#largeModal" data-url="{{ pokemon['url'] }}" data-name="{{ pokemon['name'] }}" value="{{ pokemon['url'] }}">{{ pokemon['name'] | capitalize }}</a>
    						</div>
  						</div>
  						<div class="modal fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  							<div class="modal-dialog modal-lg">
    							<div class="modal-content">
      								<div class="modal-header">
        								<h4 class="modal-title" id="myModalLabel"></h4>
								        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
								          <span aria-hidden="true">&times;</span>
								        </button>
      								</div>
      							<div class="modal-body">
        							<h3>Pokemon Details</h3>
        							<div class="sprite_container"></div>
        							<ul class="list-group">
  										<li class="list-group-item species">Species: </li>
  										<li class="list-group-item height">Height: </li>
  										<li class="list-group-item weight">Weight: </li>
  										<li class="list-group-item abilities">Abilities: </li>
        							</ul>
        							<h4>Statistics</h4>
        							<ul class="list-group">
        								<li class="list-group-item speed">Speed: </li>
  										<li class="list-group-item special-defence">Special Defence: </li>
  										<li class="list-group-item special-attack">Special Attack: </li>
  										<li class="list-group-item defence">Defence: </li>
  										<li class="list-group-item attack">Attack: </li>
  										<li class="list-group-item hp">Hitpoints: </li>
        							</ul>
      							</div>
      							<div class="modal-footer">
							        <button type="button" class="btn btn-default close" data-dismiss="modal">Close</button>
      							</div>
    						</div>
  						</div>
					</div>
        			{% endfor %}
        			</div>
    			</div>
			</section>
		{% else %}
			<div class="jumbotron jumbotron-fluid">
  				<div class="container">
    				<h1 class="display-4">{{ searchPokemon['name'] }}</h1>
    				<img src="{{ searchPokemon['sprites']['front_default'] }}">
    				<p class="lead">Species: {{ searchPokemon['species']['name'] }}</p>
					<ul class="list-group">
						<li class="list-group-item height">Height: {{ searchPokemon['height'] }}</li>
						<li class="list-group-item weight">Weight: {{ searchPokemon['weight'] }}</li>
						<li class="list-group-item abilities">Abilities: {{ searchPokemon['abilities'][0]['ability']['name'] }}</li>
					</ul>
					<h4>Statistics</h4>
					<ul class="list-group">
						<li class="list-group-item speed">Speed: {{ searchPokemon['stats'][0]['base_stat'] }}</li>
							<li class="list-group-item special-defence">Special Defence: {{ searchPokemon['stats'][1]['base_stat'] }} </li>
							<li class="list-group-item special-attack">Special Attack: {{ searchPokemon['stats'][2]['base_stat'] }}</li>
							<li class="list-group-item defence">Defence: {{ searchPokemon['stats'][3]['base_stat'] }}</li>
							<li class="list-group-item attack">Attack: {{ searchPokemon['stats'][4]['base_stat'] }}</li>
							<li class="list-group-item hp">Hitpoints: {{ searchPokemon['stats'][5]['base_stat'] }}</li>
					</ul>
  				</div>
			</div>
		{% endif %}
       <script src="https://code.jquery.com/jquery-3.4.1.min.js"integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
       <script src="js/app.js" type="text/javascript"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<script src="https://pagination.js.org/dist/2.1.4/pagination.min.js"></script>
    </body>
</html>
